*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #3f4850;
  padding-top: 2em;
}
h2 {
  font-size: 2em;
  margin: 52px 0 40px;
  text-transform: capitalize;
}
ul.pic-list {
  padding-left: 0;
  display: grid;
  grid-gap: 26px;
  grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
}
ul.no-pics{
  display: block;
}
a {
  text-decoration: none;
}
.search-form {
  max-width: 460px;
  display: flex;
  margin: 0 auto 32px;
}
.search-form button {
  outline: none;
  background-color: #438bbd;
  border: none;
  padding: 0px 15px;
  border-radius: 0 0.35em 0.35em 0;
  cursor: pointer;
}
input {
  font-size: 1em;
  width: 100%;
  background-color: #edeff0;
  padding: 10px 15px;
  border: 3px solid #d7dbdf;
  border-right: none;
  border-radius: 0.35em 0 0 0.35em;
  outline: none;
}
li.pic-wrap{
  height: 165px;
  width: 220px;
}
img{
  height: 100%;
  width: 100%;
}
.main-nav ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.main-nav li {
  width: 100%;
  margin-bottom: 1.25em;
  max-width: 350px;
}
.main-nav a {
  display: block;
  background: #438bbd;
  border-radius: 3px;
  padding: 10px;
  color: #fff;
}
.main-nav .active,
.main-nav a:hover,
.search-form button:hover {
  background-color: #275270;
}



.photo-container ul img {
  width: 100%;
  transform: scale(1.25);
  transition: transform 1.25s;
}
.photo-container li:hover img {
  transform: scale(1.65);
}



@media only screen and (min-width: 768px)  {
  body {
    padding-top: 4em;
  }
  .container {
    max-width: 960px;
    margin: auto;
  }
  .main-nav ul {
    flex-direction: row;
  }
  .main-nav li {
    margin: 10px;
    width: 100px;
  }
}
